@font-face {
    font-family: 'pt_serifregular';
    src: local('pt_serifregular'),
    url("PTSerif-Regular.ttf") format('truetype'), 
    url("ptserif-regular-webfont.woff2") format('woff2'), 
    url("ptserif-regular-webfont.woff") format('woff'),
    url("PTSerif-Regular.eot") format('eot'),
    url("PTSerif-Regular.svg") format('svg');
}



@font-face { 
    font-family: 'Open Sans'; 
    src: local('Open Sans'),         
    url(OpenSans.ttf) format('truetype'); 
}

@font-face {
    font-family: 'pt_serifitalic';
    src: local('pt_serifitalic'), 
    url(assets/webfonts/PTSerif-Italic.ttf) format('ttf'), 
    url(assets/webfonts/ptserif-italic-webfont.woff2) format('woff2'), 
    url(assets/webfonts/ptserif-italic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: local('pt_serifbold_italic'), 
    url(assets/webfonts/PTSerif-BoldItalic.ttf) format('ttf'), 
    url(assets/webfonts/ptserif-bolditalic-webfont.woff2) format('woff2'), 
    url(assets/webfonts/ptserif-bolditalic-webfont.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    /* Margen exterior y margen interior */
    margin: 0px;
    padding: 0px;
    font-family: 'PT Serif', serif;
}

html {
    background-color: whitesmoke;
    color: #353840;
    font-size: 1em;
}

div, aside {
    background-color: white;
}

nav {
    background-color: #3a3a71;
    font-size: 1.5em;
    color: white;
}

nav ul{
    list-style: none;
    text-align: center;
    vertical-align: top;
}
nav li{
    list-style-type: none;
    padding: 0px;
    display: inline;
}
nav li a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 10px 10px;
}

h1, h2 {
    color: black;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.6em;
}

footer div {
    background-color: #3a3a71;
    color: white;
}

/* Seleciona todos los elementos a dentro del footer */
footer a {
    color: white;
}

/* -- Iconos font awesome -- */


/* Elementos con la clase icon y blog */
.icon.blog {
    font-size: 3em;
}

/* Todos los span descendientes de nav */
.nav .span {
    font-size: 1em;
    color: white;
}

/* IDs */

#iconaw1 {
    color: #3a3a71;    
}

#iconaw2 {
    color: chartreuse;
}

#iconaw3 {
    color:lightsalmon
}
