@font-face {
    font-family: 'pt_serifregular';
    src: local('pt_serifregular'), url("../webfonts/PTSerif-Regular.ttf") format('truetype'), url("../webfonts/ptserif-regular-webfont.woff2") format('woff2'), url("../webfonts/ptserif-regular-webfont.woff") format('woff'), url("../webfonts/PTSerif-Regular.eot") format('eot'), url("../webfonts/PTSerif-Regular.svg") format('svg');
}

@font-face {
    font-family: 'pt_serifitalic';
    src: local('pt_serifitalic'), url("../webfonts/PTSerif-Italic.ttf") format('ttf'), url("../webfonts/ptserif-italic-webfont.woff2") format('woff2'), url("../webfonts/ptserif-italic-webfont.woff") format('woff');
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: local('pt_serifbold_italic'), url("../webfonts/PTSerif-BoldItalic.ttf") format('ttf'), url("../webfonts/ptserif-bolditalic-webfont.woff2") format('woff2'), url("../webfonts/ptserif-bolditalic-webfont.woff") format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Web en general */

* {
    /* Margen exterior y margen interior */
    margin: 0px;
    padding: 0px;
    font-family: 'pt_serifregular', monospace;
}

html {
    background-color: whitesmoke;
    color: #353840;
    font-size: 1em;
}

div, aside {
    background-color: white;
}

/* Propiedades de los enlaces en general */
a {
    text-decoration: none;
}

.header-logo {
    position: absolute;
    background-color: #3a3a71;
    width: 220px;
    height: 86px;
}

/* Menú de navegación */

nav {
    background-color: #3a3a71;
    font-size: 1.5em;
    color: white;
}

nav ul {
    list-style: none;
    text-align: center;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}

/* Propiedades de los enlaces del nav */
nav li a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    line-height: 86px;
    padding: 10px 10px 10px 10px;
}

nav li a:hover {
    font-weight: bold;
    background-color: #4f4f70;
}

nav li a:visited {

}

nav li a:active {
    background-color:#353840;
    color: white;

}

/* Propiedades de los enlaces del aside del blog */





/* aside */

aside ul {
    margin-left: 30px;
    /* Es temporal para que se vean los iconos que tapaban el margen 0 */
    list-style-image: url('../images/icons/aside-icon.png');
}

aside ul li a:hover {
    background-color: #3a3a71;
    color: white;
}

/* Cabeceras */

h1, h2 {
    color: black;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.6em;
}

/* Tabla sección servicios */

.div-servicios {
    margin: 30px;
}

.tabla-servicios {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    text-align: center;
}

/* Alternando colores */

tr:nth-child(odd) {
    background-color: rgb(184, 218, 238);
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.tabla-servicios:first-child th{
    background-color: gainsboro;
}

/* Footer  */

footer div {
    background-color: #3a3a71;
    color: white;
}

/* Seleciona todos los elementos a dentro del footer */

footer a {
    color: white;
}

/* -- Iconos font awesome -- */

/* Elementos con la clase icon y blog */

.icon.blog {
    font-size: 3em;
}

/* Todos los span descendientes de nav */

.nav .span {
    font-size: 1em;
    color: white;
}

/* IDs */

#iconaw1 {
    color: #3a3a71;
}

#iconaw2 {
    color: chartreuse;
}

#iconaw3 {
    color: lightsalmon
}