@font-face {
    font-family: 'pt_serifregular';
    src: local('pt_serifregular'), url("../webfonts/PTSerif-Regular.ttf") format('truetype'), url("../webfonts/ptserif-regular-webfont.woff2") format('woff2'), url("../webfonts/ptserif-regular-webfont.woff") format('woff'), url("../webfonts/PTSerif-Regular.eot") format('eot'), url("../webfonts/PTSerif-Regular.svg") format('svg');
}

@font-face {
    font-family: 'pt_serifitalic';
    src: local('pt_serifitalic'), url("../webfonts/PTSerif-Italic.ttf") format('ttf'), url("../webfonts/ptserif-italic-webfont.woff2") format('woff2'), url("../webfonts/ptserif-italic-webfont.woff") format('woff');
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: local('pt_serifbold_italic'), url("../webfonts/PTSerif-BoldItalic.ttf") format('ttf'), url("../webfonts/ptserif-bolditalic-webfont.woff2") format('woff2'), url("../webfonts/ptserif-bolditalic-webfont.woff") format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Web en general */

* {
    /* Margen exterior y margen interior */
    margin: 0px;
    padding: 0px;
    font-family: 'pt_serifregular', 'PT Serif', serif;
    box-sizing: border-box;
}

/* Fondo fuera de los contenedores y tamaño de fuente predeterminado */

html {
    background-color: whitesmoke;
    color: #353840;
    font-size: 1em;
}

/* Para que no se superponga encima del menú */

.contenido {
    background-color: whitesmoke;
}

.contenido {
    padding-top: 90px;
}

header {
    overflow: hidden;

}


div, aside {
    background-color: white;

}

/* Propiedades de los enlaces en general */

a {
    text-decoration: none;
    color: #3a3a71;
}

a:hover {
    color: rgb(151, 255, 255)
}

a:visited {
    color: #3a3a71;
}

/* Menú de navegación */

nav {
    position: fixed;
    right: 0%;
    left: 220px;
    background-color: #3a3a71;
    font-size: 1.5em;
    color: white;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);

}

nav ul {
    list-style: none;
    text-align: center;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}

.header-logo {
    position: fixed;
    background-color: #3a3a71;
    width: 220px;
    height: 86px;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);

}

/* Propiedades de los enlaces del nav */

nav li a {
    color: white !important;
    font-size: 1em;
    text-decoration: none;
    line-height: 86px;
    padding: 10px;
}

nav li a:hover {
    background-color: #4f4f70;
}

nav li a:active {
    background-color: #353840;
    color: white;
}

/* Interior del menú de navegación */

.menu-text {
    margin-left: -10%;
}


/* Página princial */

.inicio-secciones {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: whitesmoke;
}

.inicio-secciones section {
    width: 250px;
    height: 250px;
    padding: 2em;
    margin: 2em;
    background-color: white;
    float: inline-start;
}

/* Barra de búsqueda */

.search {
    background-color: whitesmoke;
}

.search input {
    box-sizing: border-box;
    width: 50%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
}

/* Arreglo porque no sale la barra de búsqueda como en otras páginas */

.body-blog .search input {
    margin: 96px auto 30px auto;

}

/* Propiedades de los enlaces del aside del blog */

/* aside */

/* Propiedades del blog */

.contenido-blog {
    max-width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
}

.entradas-blog {
    width: 70%;
    float: left;
    padding: 15px;
    background-color: white;
    padding-left: 2.5em;
    padding-right: 2.5em;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);
    margin-bottom: 1.5em;


}

.entradas-blog img {
    max-width: 100%;
}

.entradas-blog p {
    margin-bottom: 1.5em;
}

.entradas-blog ol {
    list-style-position: inside;

}

aside {
    float: right;
    width: 25%;
    padding: 10px;
    margin-right: 2em;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);
}



section article {
    margin-bottom: 45px;
}

aside ul {
    margin-left: 30px;
    list-style-image: url('../images/icons/aside-icon.png');
}

aside ul li {
   line-height: 1.8em;
}

aside ul li a:hover {
    color: rgb(184, 218, 238);
}

.aside-blog div {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


/* Cabeceras */

h1, h2 {
    color: black;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.6em;
}

/* FORMULARIO */

.h1-formulario {
    text-align: center;
    margin-bottom: 10px;
}

form {
    max-width: 50%;
    margin: 1em auto;
    padding: 1.5em;
    background-color: white;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);
}

label {
    display: block;
    text-align: center;
    padding: 1em;
}

form input, form textarea {
    display: block;
    box-sizing: border-box;
    resize: none;
    margin: 0 auto;
    font-size: 1em;
    width: 100%;
    padding: 1em;
}

form button {
    display: block;
    font-size: 1.1em;
    margin: 1em;
    margin-left: 0;
    padding: 1em 3em;
    border: 0;
    color: white;
    background-color: #3a3a71;
}

form button:hover {
    background-color: #4f4f70;
    color: aliceblue;
}

/* Alienar checkbox con el texto */

.input-privacy, .label-privacy {
    margin-top: 20px;
    display: inline;
    width: unset;
    margin-left: 0px;
    padding-left: 0px;
}

.contenido section {
    background-color: whitesmoke;
}

.datos-contacto {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
}

.datos-contacto h2 {
    margin-bottom: .5em;
}

/* Tabla sección servicios */

.body-servicios h1 {
    margin-left: 30px;
    margin-bottom: unset;
}

.div-servicios {
    margin: 30px;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,0.47);

}

.tabla-servicios {
    caption-side: bottom;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;


}

tr, th, td {
    border: 1px solid black;
    text-align: center;
}

/* Alternando colores */

tr:nth-child(odd) {
    background-color: rgb(184, 218, 238);
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.tabla-servicios:first-child th {
    background-color: gainsboro;
}

/* Footer  */

footer {
    width: 100%;
    overflow: hidden;

}

footer div {
    clear: both;
    background-color: #3a3a71;
    color: white;
    text-align: center;
    padding: .5em;
}

/* Icono de Whatsapp fijo */

.whatsapp-figure {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Seleciona todos los elementos a dentro del footer */

footer a {
    color: white;
}

.redesSociales figure {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    padding: .5em;
}

/* -- Iconos font awesome -- */

/* Elementos con la clase icon y blog */

.icon.blog {
    font-size: 3em;
}

/* Todos los span descendientes de nav */

.nav .span {
    font-size: 1em;
    color: white;
}

/* IDs */

#iconaw1 {
    color: #3a3a71;
}

#iconaw2 {
    color: chartreuse;
}

#iconaw3 {
    color: lightsalmon
}

#gradiente {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
    
}

/* Media Queries */

/* Aplicamos al blog para probar */

/* A más anchura la página se ve prácticamente como en pantalla completa */

@media (max-width: 840px) {
    form {
        max-width: 80%;
    }
    form button {
        margin: 1em auto 1em auto;
    }
    nav {
        display: none;
    }
    /* Propiedades blog */
    aside {
        float: none;
        width: unset;
        margin: 1.5em;
        display: inline-block;
        padding: 1.5em;
    }
    .entradas-blog {
        width: unset;
        float: none;
        margin: 1.5em;
    }

    .contenido-blog {
        background-color: whitesmoke;
    }

    /* Hacemos que el vídeo ocupe lo necesario */
    article>.video>iframe {
        width: 95%;
    }
    .search input {
        width: 80%
    }
}

@media (max-width: 400px) {
    /* Reducir el tamaño del logo
    Hacemos que deje de estar fijo */
    .header-logo {
        position: absolute;
        width: 154px;
        height: 60px;
    }
    /* Propiedades blog */
    aside {
        float: unset;
        width: unset;
        margin: .5em;
        display:flex;
        padding: .5em;
    }
    .entradas-blog {
        width: unset;
        float: none;
        margin: .5em;
        padding: 1em 1em;
    }
    /* Hacemos que el vídeo ocupe lo necesario */
    article>.video>iframe {
        width: auto;
    }
    /*Eliminamos el menú hasta que no implementemos el menú hamburguesa */
    nav {
        display: none;
    }
    /* Formulario de contacto */
    /* Hacemos que ocupe más porcentaje de la pantalla*/
    form {
        max-width: 90%;
    }
    /* Botón enviar centrado y algo más pequeño */
    form button {
        font-size: unset;
        margin: 1em auto 1em auto;
    }
    /* --- SERVICIOS --- */
    /* -- BARRA DE BÚSQUEDA */
    .search input {
        width: 90%
    }
}